<html>
  <head>
    <title>Media Control</title>
    
    <link rel="stylesheet" href="static/js/external/jquery-ui-1.11.2.custom/jquery-ui.min.css">
    <script src="static/js/external/jquery-1.11.2.min.js"></script>
    <script src="static/js/external/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>

    <script src="static/js/control.js"></script>
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body>
  
    <h1>Media Control</h1>
    
    
    <a class="button" id="play" href="#">Play</a>
    <a class="button" id="stop" href="#">Stop</a>
    
    <h2>Volume</h2>
    <div class="slider" id="volume"></div>
    <label id="volume-value">0</label>
    
  </body>
</html>
